* {
  margin: 0;
  padding: 0;
}

.page-def {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: Arial;
  background: white;
  height: 1cm;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

header {
  height: 70vh;
  background-color: #ff9fad;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  margin: 0.5cm 0.5cm 0 0.5cm;
  left: 0;
  right: 0;
  top: 0;
}

.page-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  justify-self: flex-end;
}
.page-cont h2 {
  margin: 0 7px;
  font-family: arial;
  font-size: 15px;
  color: white;
}
.logo-img img {
  width: 100%;
  height: 100%;
}

.logo-img {
  width: 5cm;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
}

.person-image img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.person-image {
  position: absolute;
  width: 30%;
  bottom: 10px;
  left: 3cm;
}

.text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  right: 3cm;
  top: 2cm;
}

.text-container h1 {
  text-align: center;
  font-size: 2.5em;
  color: white;
}

.account-btn {
  padding: 0.25cm;
  font-size: 1em;
  background-color: white;
  color: #f4415c;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
}

.account-btn:hover {
  border: 1px solid black;
  color: black;
}

.continuation {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-here {
  padding: 0.25cm;
  font-size: 1em;
  background-color: #ff9fad;
  color: white;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
}

.start-here:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
}
